<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/library.css">
    
</head>
<body>
    <nav>
        <%- include('partials/nav') %>
  
      </nav>
    <h1><%= Name %></h1>
    <main>
        <!-- <section>
            <%- include('partials/search') %>
          </section> -->
        <!-- <% Books.forEach((book) => { %>
            <%- book %>
       <% }); %> -->
       <%- Books.join('') %>
        </main>
    <script src="./javascripts/FindLibrary.js"></script>



<<<<<<< HEAD

    <footer>
=======
      <footer>
>>>>>>> 2319a258a8a2a8accbe1f52e34473d4e4d35d2ff
        <%- include('partials/footer') %>
      </footer>
</body>
</html>